a{
    text-decoration: none;
    transition: 0.2s ease-out;
}
p{
    color:rgb(0,0,0);
}
body {
    margin: 0px;
}

button:active{
    padding: 0px;
}

input[type=text]{
    font-size: 20px;
}


.headers{
    display: flex;
    padding: 10px;
    background-color: #fff;
    height: 2em;
    max-width: 100%;
    justify-content: space-between;
    width: auto;
}

.headers .container {
    /*! width: auto; */
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    min-width: 580px;
    max-width: 6000px;
    width: 100%;
}

.container div{
    /*! display: inline-block; */

}
.container .logo {
    /*! float: left; */
    font-size: 30px;
    margin-top: 0px;
    margin-left: 50px;
}

.container .logo a{
    color: #336BAB;
}

.container .panel {
    /*! float: right; */
}

.container .top_menu{
    padding-top: 5px;
    margin:0px;
}

.container .panel .top_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container .panel .top_menu li {
    display: inline;
    /*! margin: 40px; */
    font-size: 20px;
    margin-left: 25px;
}

.container .panel .top_menu li a{
    color: #336BAB;
}

.container .panel .top_menu li:last-child {
    padding-right: 20px;
}

.container .panel .top_menu li a:hover {
    color:#FF8000;
}

.content{
    margin: 0px;
    height: auto;
    max-width: 100%;
    background-color: #e9faff;
    min-height: 55.5em;
}

.content .content_inside{
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 65px;
    max-width: 936px;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: auto;

    /*! max-height: 100em; */
}

.content .content_inside .title_booking{
    padding-top: 5px;
    text-align: center;
    letter-spacing: 1px;
}
.content .content_inside .personal_info_about_tickets{
    margin-bottom: 10px;
    padding-top: 10px;
}

.content .content_inside .personal_info_about_tickets .ticket{
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #f5f5dc;

}

.ticket .row{
    display: flex;
    padding: 5px 5px 5px 5px;
    width: auto;
    justify-content: space-around;
}

.ticket .row .column{
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}
.ticket .row .column:last-child{
    padding-right: 5px;
}

.ticket .row .column .column_2{
    margin-top: 15px;
    display: flex;
    justify-content:space-between;
    width: auto;
}

.ticket .column .column_2 .column_4-4{
    text-align: left;
    width: auto;
}

.ticket .row .column .column_price{
    display: flex;
    padding-top: 15px;
    width: auto;
}

.ticket .row .column .column_button{
    padding-top: 23px;
    width: auto;
}

.ticket .row .column .column_button .form_submit{
    background-color:#e9faf6;
    border-radius: 8px;
    border :1px solid;
    font-size: 18px;
    height: 70px;
    max-width: 120px;
    width: auto;
    transition:background .7s;
    cursor:pointer;
}
.ticket .row .column .column_button .form_submit:hover{
    background-color: #A6CAF0;
}